*{
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica;
}

.sidebar{
    position: fixed;
    top:0;
    bottom: 0;
    padding: 1em;
    left:0;
    width:350px;
    background-color: rgb(30, 202, 145);
}
/*perfil*/
.perfil_circle{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    overflow: hidden;
    margin:0;
}
.perfil_foto{
    width:100%;
}
.perfil_name{
    color: white;
    font-size: 20px;
    margin-left: .5em;
    width: 250px;
}
.perfil_name, .perfil_circle{
    display: inline-block;
    vertical-align: middle;
}
.info{
    color: #0F6A62;
    position: absolute;
    bottom:1em;
}
.info_title{
    font-size:18px;
}
.habs{
    padding:0;
}
.hab{
    background-color: #0f6a62;
    color: white;
    font-size: 12px;
    display: inline-block;
    padding: .5em;
    text-transform: uppercase;
}